body {
  font-family: 'Signika', sans-serif;
  text-align: center;
  background-color: sienna;
}

h1{
  font-size: 42px;
  margin: 1.5%;
  font-weight: bold;
  background: -webkit-linear-gradient(black, #fff6b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  margin: 3%;
  text-align: center;
}

.difficulty {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff6b7;
  padding: 1%;
  margin: 10px;
  cursor: pointer;
}

.difficulty:hover {
  opacity: 0.65;
}

.gameStatus{
    text-align: center;
    padding: 5px;
    font-size: xx-large;
    cursor: pointer;
}

.info{
  text-align: center;
  margin-bottom: 1%;
}

.timer, .lives, .mines {
  border: 1px solid black;
  background-color: #fff6b7;
  border-radius: 3px;
  padding: 10px;
  margin: 15px;
  display: inline;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

td:after {
    content: "\00A0";
  }

.cells {
    background: linear-gradient(to top, #d3d3d3, #d3d3d3, #d3d3d3, #d3d3d3, #d3d3d3, #BDBDBD, #9E9E9E);
  /* background-color: #e5e5e5; */
}

.flipped {
    background: linear-gradient(to top, #BDBDBD, #BDBDBD, #BDBDBD, #BDBDBD, #BDBDBD, #7d7d7d, #696969);
}

.empty {
  background-color: #e5e5e5;
}

.bomb{
  background-color: brown;
}