body {
  font-family: 'Signika', sans-serif;
  text-align: center;
  background-color: #e2d5ae;
  word-spacing: 3px;
}

h1 {
  font-size: 46px;
  margin: 1.5%;
  font-weight: bold;
  background: -webkit-linear-gradient(#314047, #5b7987);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.diff-container {
  margin: 0.5%;
  text-align: center;
}

.difficulty {
  border: 3px solid #EDE0B6;
  color: #526E7C;
  font-weight: 600;
  border-radius: 7px;
  padding: 0.5%;
  margin: 10px;
  cursor: pointer;
}

.difficulty:hover {
  opacity: 0.65;
}

.gameStatus {
  text-align: center;
  font-size: 33px;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.timer,
.lives,
.mines,
.best-time {
  border: 3px solid #EDE0B6;
  color: #526E7C;
  font-weight: 600;
  border-radius: 7px;
  padding: 0.5%;
  margin: 15px;
  display: inline;
}

/* ul {
  list-style-type: none;
  font-size: xx-large;
  position: absolute;
  margin-left: 16%;
} */

table {
 
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #EDE0B6;
  border-radius: 6px;
  height: 38px;
  width: 38px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

td:after {
  content: '\00A0';
}

.cells {
  background: linear-gradient(
    to top,
    #EDE0B6,
    #EDE0B6,
    #EDE0B6,
    #EDE0B6,
    #EDE0B6,
    #E8DAB3,
    #DCCA95
  );
}

.cells:hover{
  opacity:0.45;
}

.flipped {
  cursor: auto;
  background: linear-gradient(
    to top,
    #DCCA95,
    #DCCA95,
    #DCCA95,
    #DCCA95,
    #DCCA95,
    #dbd0b3,
    #e0d4b3
  );
}

.flipped:hover{
  opacity: 1;
}

@media only screen and (max-width: 425px) {
  .diff-container {
    margin: 6%;
  }
  td {
    font-size: 10px;
    height: 33px;
    width: 30px;
  }
}
